<h1>All of Comedians</h1>

<p>Average age : <%= @comedians.average_age %>

<% @comedians.each do |comedian| %>
  <h2><%= comedian.name %></h2>
  <p>Age : <%= comedian.age %></p>
  <p>Specials : <%= comedian.specials.count %></p>
  <% @specials.each do |special| %>
    <p><%= special.name if special.comedian_id == comedian.id %></p>
  <% end %>
<% end %>
